<header class="header">
  <div class="header__inner">
    <a class="header__brand" routerLink="/dashboard">
      Beauty Loyalty
    </a>

    <nav class="header__nav">
      <!-- Kad NISAM ulogovana -->
      <ng-container *ngIf="!isAuthed">
        <a class="header__link" routerLink="/login" routerLinkActive="is-active">Login</a>
        <a class="header__link" routerLink="/register" routerLinkActive="is-active">Register</a>
      </ng-container>

      <!-- Kad JESAM ulogovana -->
      <ng-container *ngIf="isAuthed">
        <a class="header__link" routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a>
        <button class="header__btn" type="button" (click)="logout()">Logout</button>
      </ng-container>
    </nav>
  </div>
</header>

<main class="app">
  <router-outlet></router-outlet>
</main>
